[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #fb8c00;
  --primary-hover: #f57c00;
  --primary-focus: rgba(251, 140, 0, 0.125);
  --primary-inverse: #FFF;
  --carousel-box-shadow: 0 0 0 1px var(--muted-border-color);
}
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #fb8c00;
    --primary-hover: #ff9800;
    --primary-focus: rgba(251, 140, 0, 0.25);
    --primary-inverse: #FFF;
    --carousel-box-shadow: none;
  }
}
[data-theme="dark"] {
  --primary: #fb8c00;
  --primary-hover: #ff9800;
  --primary-focus: rgba(251, 140, 0, 0.25);
  --primary-inverse: #FFF;
  --carousel-box-shadow: none;
}
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --font-family: "Quattrocento Sans", sans-serif;
}
main > h1 > img {
  border-radius: var(--border-radius);
}
.carousel {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--typography-spacing-vertical);
}
.carousel > input {
  display: none;
}
.carousel > input:nth-of-type(1):checked ~ ul.slides > li.slide:first-of-type { margin-left:    0%; }
.carousel > input:nth-of-type(2):checked ~ ul.slides > li.slide:first-of-type { margin-left: -100%; }
.carousel > input:nth-of-type(3):checked ~ ul.slides > li.slide:first-of-type { margin-left: -200%; }
.carousel > input:nth-of-type(6):checked ~ ul.slides > li.slide:first-of-type { margin-left: -500%; }
.carousel > input:nth-of-type(4):checked ~ ul.slides > li.slide:first-of-type { margin-left: -300%; }
.carousel > input:nth-of-type(5):checked ~ ul.slides > li.slide:first-of-type { margin-left: -400%; }
.carousel > input:nth-of-type(7):checked ~ ul.slides > li.slide:first-of-type { margin-left: -600%; }
.carousel > input:nth-of-type(8):checked ~ ul.slides > li.slide:first-of-type { margin-left: -700%; }
.carousel > input:nth-of-type(9):checked ~ ul.slides > li.slide:first-of-type { margin-left: -800%; }
.carousel > ul.thumbnails {
  padding: 0;
  display: flex;
  margin: 10px -10px;
}
.carousel > ul.thumbnails > li.thumbnail {
  list-style: none;
  flex: 1 1 auto;
  margin: 0 10px;
}
.carousel > ul.thumbnails > li.thumbnail > label {
  display: block;
}
.carousel > ul.thumbnails > li.thumbnail > label:hover,
.carousel > ul.thumbnails > li.thumbnail > label:focus {
  cursor: pointer;
}
.carousel > ul.thumbnails > li.thumbnail > label > picture > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}
.carousel > ul.thumbnails > li.thumbnail > label:hover > picture > img,
.carousel > ul.thumbnails > li.thumbnail > label:focus > picture > img {
  box-shadow: var(--carousel-box-shadow);
}
.carousel > input:nth-of-type(1):checked ~ ul.thumbnails > li.thumbnail:nth-of-type(1) > label > picture > img { box-shadow: var(--carousel-box-shadow); }
.carousel > input:nth-of-type(2):checked ~ ul.thumbnails > li.thumbnail:nth-of-type(2) > label > picture > img { box-shadow: var(--carousel-box-shadow); }
.carousel > input:nth-of-type(3):checked ~ ul.thumbnails > li.thumbnail:nth-of-type(3) > label > picture > img { box-shadow: var(--carousel-box-shadow); }
.carousel > input:nth-of-type(4):checked ~ ul.thumbnails > li.thumbnail:nth-of-type(4) > label > picture > img { box-shadow: var(--carousel-box-shadow); }
.carousel > input:nth-of-type(5):checked ~ ul.thumbnails > li.thumbnail:nth-of-type(5) > label > picture > img { box-shadow: var(--carousel-box-shadow); }
.carousel > input:nth-of-type(6):checked ~ ul.thumbnails > li.thumbnail:nth-of-type(6) > label > picture > img { box-shadow: var(--carousel-box-shadow); }
.carousel > input:nth-of-type(7):checked ~ ul.thumbnails > li.thumbnail:nth-of-type(7) > label > picture > img { box-shadow: var(--carousel-box-shadow); }
.carousel > input:nth-of-type(8):checked ~ ul.thumbnails > li.thumbnail:nth-of-type(8) > label > picture > img { box-shadow: var(--carousel-box-shadow); }
.carousel > input:nth-of-type(9):checked ~ ul.thumbnails > li.thumbnail:nth-of-type(9) > label > picture > img { box-shadow: var(--carousel-box-shadow); }
.carousel > ul.slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  border-radius: var(--border-radius);
  box-shadow: var(--carousel-box-shadow);
}
.carousel > ul.slides > li.slide {
  list-style: none;
  position: relative;
  margin: 0;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  vertical-align: top;
  white-space: normal;
}
.carousel > ul.slides > li.slide > figure {
  display: flex;
  margin: 0;
  width: 100%;
}
.carousel > ul.slides > li.slide > figure > img {
  display: block;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  object-fit: contain;
}
form.buy > input.shipping ~ button {
  color: #11191f;
}
form.buy > input.shipping ~ button.overseas {
  display: none;
}
form.buy > input.shipping:checked ~ button.domestic {
  display: none;
}
form.buy > input.shipping:checked ~ button.overseas {
  display: block;
}
.carousel > input:nth-of-type(1):checked ~ ul.thumbnails > li.thumbnail:nth-of-type(1) > label > picture > img { box-shadow: var(--carousel-box-shadow); }
#map {
  width: 100%;
  height: 450px;
  border-radius: var(--border-radius);
}
#qrcode {
  width: 128px;
  height: 128px;
}
#toggles div {
  font-family: var(--font-family);
  font-size: 10px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
  background-color: rgba(255,255,255,0.9);
  padding: 3px;
  padding-left: 6px;
  text-align: right;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.65);
}
#toggles div:first-child {
  border-radius: 5px 5px 0 0;
}
#toggles div:last-child {
  border-bottom: none;
  border-radius: 0 0 5px 5px;
}
#toggles div.selected {
  font-weight: 500;
  color: rgba(0,0,0,1);
}
#toggles div::after {
  content: '\2713';
  padding-left: 5px;
  color: black;
  visibility: hidden;
}
#toggles div.selected::after {
  visibility: visible;
}
#toggles #show-25k.selected::after {
  color: red;
}
#toggles #show-40k.selected::after {
  color: purple;
}
#toggles #show-50k.selected::after {
  color: blue;
}
#toggles #show-bundle.selected::after {
  color: black;
}
#toggles div:hover {
  background-color: rgba(255,255,255);
}
